*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: -webkit-linear-gradient(45deg, rgb(72, 205, 238), rgb(241, 79, 187), rgb(72, 205, 238));
    height: 60px;
    width: 100%;
}

header .logo{
    text-shadow: 2px 2px rgb(241, 85, 202);
    color: white;
    font-size: 25px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 100px;
    padding-left: 20px;
    font-style: italic;
}

header ul{
    float: right;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

header ul li a{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

header a.active,header a:hover{
    background-image: -webkit-linear-gradient(45deg, royalblue, rgb(241, 79, 187), royalblue);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width:972px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 14px;
    }
    

}

@media screen and (max-width: 852px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 60px;
        left: -100%;
        text-align: center;    
        transition: all .5s;
    }
    header ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #f18f1f;
    }

    header ul li a{
        font-size: 18px;
    }

    #check:checked ~ ul{
        left: 0;
    }
    
       
}
@media screen and (max-width:430px) {
    label.logo{
        font-size: 20px;
        padding-left: 30px;
    }
}
.container div{
    padding: 1%;
    min-height: 482px;
    background-color: white;


}
.left-col {
    background-color: #f4f4f4;
    width: 48%;
    float: left;
}
.left-col h2{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
.left-col img{
    width: 6cm;
    height: 4cm;
    padding-left: 10px;
}
.left-col audio{
    padding: 10px;
    margin-top: 25px;
}
.left-col p{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
.left-col p a{
    color: white;
    border: 3px double white;
    background-color: royalblue;
    padding: 5px;
    border-radius: 10px;
    
}
.right-col {
    background-color: #f4f4f4;
    width: 48%;
    float: right;
}
.right-col h2{
    text-align: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.right-col img{
    width: 6cm;
    height: 4cm;
    padding-right: 10px;
    padding-bottom: 10px;
}
.right-col p{
    padding: 10px;
}
